<mat-card>
  <img mat-card-image [src]="book()?.image" [alt]="book()?.title" class="object-contain h-80 mb-4 pt-2" />
  <mat-card-content>
    <h2 class="text-lg font-semibold mb-2">{{ book()?.title }}</h2>
    <p><span class="font-bold">Автор:</span> {{ book()?.author }}</p>
    <p><span class="font-bold">Дата публикации:</span> {{ book()?.publishedDate | date : "dd.MM.yyyy" }}</p>
    <p class="line-clamp-2"><span class="font-bold">Описание:</span> {{ book()?.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/books', book()?.id]">Читать далее</a>
  </mat-card-actions>
</mat-card>
